<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
<!--    <context:component-scan base-package="org.example"/>-->
   <!-- <bean id="myPerson"
          class="org.example.Person"
          scope="singleton"
          init-method="myInit"
    destroy-method="myDesctope">
        <property name="animal" ref="Cat"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>-->


    <!--<bean id="Cat"
          class="org.example.Cat">
        <constructor-arg name="gender" value="${cat.gender}"/>
        <constructor-arg name="poroda" value="${cat.poroda}"/>
        <constructor-arg name="age" value="${cat.age}"/>
    </bean>-->

</beans>